body {
  /* padding-top: 3rem; */
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.navbar {
  z-index: 9;
  position: absolute;
}

#aboutHeader {
  background-color: #3C6056;
  margin: 0 4rem;
}


.grayBG {
    background-color: #f6f6f6;
    padding-left: 4rem;
  }

  .whiteBG {
    padding-right: 4rem;
  }
  

  @media screen and (max-width: 576px) {
    .navbar-collapse
    {
        background-color: #212529;
        padding-left: 0.5rem;
        border-radius: 0.3rem;
        flex-grow: 0;
        flex-basis: 50%;
    }
  }