body {
    /* padding-top: 3rem; */
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

  .navbar {
    z-index: 9;
    position: absolute;
  }

  @media screen and (max-width: 576px) {
    #contact-form {
      width: 95%;
    }
  }