body {
    padding-bottom: 3rem;
  }

  .navBG {
    background-color: #344646;
    }

  .navbar {
    z-index: 9;
    position: absolute;
  }

  #contact-form {
    background-color: #E9E5E2;
  }

  @media screen and (max-width: 576px) {
    .navbar-collapse
    {
        background-color: #344646;
        padding-left: 0.5rem;
        border-radius: 0.3rem;
        flex-grow: 0;
        flex-basis: 50%;
    }

    #contactFormContainer {
      width: 92.5%;
    }
  }

  #commentsContactForm {
    height: 100px;
  }